body {
  display: flex;
  flex-wrap: wrap;
}
.plans-container {
  display: flex;
  justify-content: center;
  align-content: start;
  gap: 25px;
  flex-wrap: wrap;
  flex: 1 1 250px;

  & ul {
    & li {
      list-style: none;
      padding: 2rem 3rem;
      background-color: #ddd;
      text-align: center;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #333;
      box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.5);
    }

    & .prices {
      padding: 0.6rem;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto -50px;
      background-color: #157bad;
      color: #fff;
      text-align: center;
      line-height: 120px;
      position: relative;
    }

    & .plan-name {
      background-color: #3a3939;
      padding-top: 3.54rem;
      color: #fff;
      border-radius: 10px 10px 0 0;
    }

    .price-btn {
      background-color: #157bad;
      color: #fff;
      border-radius: 0 0 10px 10px;
      cursor: pointer;
    }
  }
}
