* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  text-decoration: none;
  list-style: none;
}

a {
  color: #444;
  transition: 0.4s ease;

  &:hover {
    color: #37a1f7;
  }
}

/* Navbar */
.navbar {
  padding: 1.5rem 2.5rem;
  border-bottom: 2px solid #ddd;

  .navbar-inner {
    max-width: 69.37rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;

    .btn {
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer;

      img {
        width: 35px;
      }
    }

    .nav-links {
      display: flex;
      gap: 1rem;
      transition: .3s ease;

    }

    .nav-links-mobile {
      display: none;
      flex-direction: column;
      justify-content: flex-end;
      text-align: right;
      gap: 1rem;
      padding: 2rem 17rem;


    }
  }
}

/* main content */
.container {
  display: flex;
  gap: 3rem;
  padding: 2rem 2.5rem;
  max-width: 69.37rem;
  margin: 0 auto;

  #posts-container {
    flex: 3 1 0;

    .post {
      margin-bottom: 2.5rem;

      .post-img {
        width: 100%;
        margin-bottom: 1rem;
      }

      .title,
      .description,
      .author {
        margin-bottom: 1rem;
      }

      .title {
        font-size: 2rem;
      }

      .author {
        color: #aaa;
        font-weight: bold;
      }

      a {
        font-weight: bold;
      }
    }
  }
}

/* Sidebar */

#sidebar {
  flex: 1 1 0;

  #search-bar,
  #categories,
  #tags {
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
  }

  #search-bar h4,
  #categories h4,
  #tags h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #search-bar {
    form {
      display: flex;

      input {
        padding: 0.5rem 1rem;
        border: 1px solid #ddd;

        &[type="submit"] {
          border: none;
          background-color: #37a1f7;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  #categories {
    li {
      margin-bottom: 1rem;
    }
  }

  #tags {
    .tags-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      a {
        background-color: #ddd;
        padding: 0.5rem 0.7rem;
        border: 1px solid #ddd;
        transition: all 0.4s ease;

        &:hover {
          background-color: #37a1f7;
          padding: 0.5rem 0.7rem;
          border: 1px solid #37a1f7;
          color: #fff;
        }
      }
    }
  }
}

/* Footer */

#footer {
  border-top: 2px solid #ddd;
  padding: 3rem;
  text-align: center;

  h2 {
    font-size: 2rem;
  }

  h2,
  p,
  .copy {
    margin-bottom: 1rem;
  }

  p {
    font-weight: bold;
  }

  .copy {
    color: #aaa;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    .navbar-inner {
      flex-wrap: wrap;

      .btn {
        display: block;
      }

      .nav-links {
        display: none;
      }

      .nav-links-mobile {
        transition: .3s ease;

      }

      .show-links {
        display: flex;
      }

    }
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}