* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

.main-container {
  display: flex;
  height: 100vh;
  margin-top: 10px;

  & .banner-container,
  .form-container {
    flex: 1 2 0;
    width: 50%;
    height: 98vh;
  }

  & .banner-container {
    text-align: right;

    & img {
      max-width: 400px;
      width: 100%;
      margin-top: 15px;
      margin-right: 25px;
    }
  }

  & .form-container {
    text-align: center;

    & #form-box {
      width: 360px;
      border: 1px solid #dbdbdb;
      margin-top: 30px;

      & #logo-insta {
        width: 175px;
        height: 51px;
        margin: 30px auto 12px;
      }

      & #login-form {
        margin-top: 20px;

        & input {
          display: block;
          font-size: 16px;
          padding: 10px 9px;
          border: 1px solid #dbdbdb;
          border-radius: 3px;
          background-color: #fafafa;
          width: 278px;
          margin: 10px auto;
        }

        input[type="submit"] {
          background-color: #4cb5f9;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          border-radius: 8px;
          padding: 5px;
          margin-top: 15px;
          height: 35px;
          transition: 0.3s ease-in-out;
        }
        input[type="submit"]:hover {
          background-color: #1877f2;
        }
      }
    }

    & .separator {
      position: relative;

      & .line {
        border: 1px solid #dbdbdb;
        width: 268px;
        margin: 25px auto 25px;
      }

      & span {
        color: #292929;
        position: absolute;
        text-transform: uppercase;
        background-color: #fff;
        top: -6px;
        width: 50px;
        margin-left: -25px;
      }
    }

    & #other-links {
      padding: 20px;

      & #facebook-login {
        margin-bottom: 20px;

        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #385185;
          font-weight: 600;
          font-size: 13px;

          & img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }
        }
      }
    }

    & #forget-password {
      a {
        color: #292929;
      }
    }

    & #register-container,
    #get-app-container {
      width: 360px;
    }

    #register-container {
      border: 1px solid #dbdbdb;
      padding: 20px;
      margin-top: 10px;
      a {
        font-weight: bold;
        font-size: 16px;
        color: #0095f6;
      }
    }

    #get-app-container {
      margin-top: 25px;
      img {
        width: 136px;
        height: 40px;
        margin: 15px 0;
      }
    }
  }
}

footer {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
      margin-right: 10px;
      padding: 0 15px;

      a {
        color: #8e8e8e;
      }
    }
  }

  p {
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #8e8e8e;
  }
}
