* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

.main-container {
  display: flex;
  height: 100vh;

  & .banner-container,
  .form-container {
    flex: 1 2 0;
    width: 50%;
    height: 95vh;
  }

  & .banner-container {
    text-align: right;

    & img {
      max-width: 400px;
      width: 100%;
      margin-top: 15px;
      margin-right: 25px;
    }
  }

  & .form-container {
    text-align: center;

    & #form-box {
      background-color: #fff;
      width: 350px;
      border: 1px solid #dbdbdb;
      margin-top: 30px;

      & #logo-insta {
        width: 175px;
        height: 51px;
        margin: 30px auto 12px;
      }

      & #login-form {
        margin-top: 20px;

        & input {
          display: block;
          font-size: 18px;
          padding: 10px 9px;
          border: 1px solid #dbdbdb;
          border-radius: 3px;
          background-color: #fafafa;
          width: 278px;
          margin: 10px auto;
        }

        input[type="submit"] {
          background-color: #4cb5f9;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          border-radius: 8px;
          padding: 5px;
          margin-top: 15px;
          height: 35px;
          transition: 0.3s ease-in-out;
        }
        input[type="submit"]:hover {
          background-color: #1877f2;
        }
      }
    }

    & .separator {
      position: relative;

      & .line {
        border: 1px solid #dbdbdb;
        width: 268px;
        margin: 25px auto 25px;
      }

      & span {
        color: #292929;
        position: absolute;
        text-transform: uppercase;
        background-color: #fff;
        top: -6px;
        width: 50px;
        margin-left: -25px;
      }
    }

    & #other-links {
      padding: 15px;

      & #facebook-login {
        margin-bottom: 20px;

        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #385185;
          font-weight: bold;
          font-size: 13px;

          & img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }
        }
      }
    }

    & #forget-password {
      margin-bottom: 15px;
      font-size: 13px;
      a {
        color: #292929;
      }
    }

    & #register-container,
    #get-app-container {
      width: 350px;
    }

    #register-container {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      padding: 20px;
      margin-top: 10px;
      text-align: center;
      a {
        font-weight: bold;
        font-size: 16px;
        color: #0095f6;
      }
    }

    #get-app-container {
      margin-top: 25px;
      img {
        width: 136px;
        height: 40px;
        margin: 15px 0;
      }
    }
  }
}

.mobile-container {
  display: none;
}

footer {
  width: 95%;
  margin: 70px 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  .footer-links {
    display: flex;
    li {
      margin-right: 10px;

      a {
        color: #8e8e8e;
        font-size: 12px;
      }
    }

    li:hover {
      border-bottom: 1px solid #a2a1a1;
    }
  }

  .copy {
    margin-top: 10px;
    text-align: center;
    color: #8e8e8e;
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .main-container {
    display: none;
  }
  .mobile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #logo-insta {
      width: 180px;
      position: absolute;
      top: 180px;
      margin-bottom: 25px;
    }
    .main-text {
      margin-top: 35px;
      text-align: center;
      padding: 0 15px;
      font-size: 24px;
    }

    .destac-1 {
      color: #ff3545;
    }

    .destac-2 {
      color: #ff4792;
    }

    button {
      width: 300px;
      background-color: #4cb5f9;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      border-radius: 8px;
      padding: 35px auto;
      margin-top: 15px;
      height: 45px;
      transition: 0.3s ease-in-out;
      border: none;
    }

    .login-signup {
      margin: 25px;
      color: #8e8e8e;

      a {
        color: #0095f6;
      }
    }

    #meta-logo {
      position: absolute;
      bottom: 15px;
    }
  }

  footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;

    .footer-links {
      margin: 0 20px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
